* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ccd1d1;
}

button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 6rem 2rem 6rem;
  margin-top: 2rem;
  gap: 1rem;
  width: 69.25rem;
  border-radius: 50px;
  box-shadow: 20px 20px 60px #adb2b2, -20px -20px 60px #ebf0f0;
}

.container h1 {
  font-size: 3rem;
  margin-top: 0.2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.396);
}

.container input {
  height: 2.5rem;
  width: 25rem;
  padding-left: 1rem;
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.466);
}

.filters button {
  margin-left: 0.1rem;
  height: 2.25rem;
  width: 6rem;
}

hr {
  width: 100%;
  height: 2px;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.235);
}

.inputContainer button {
  height: 2.25rem;
  width: 5rem;
}

.tasks {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.tasks div {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.tasks button {
  /* padding: 0.5rem 1.8rem; */
  width: 6rem;
  height: 2rem;
  border-radius: 0.5rem;
  border-width: 1px;
  color: orangered;
  border-color: rgba(0, 0, 0, 0.269);
}

.tasks input {
  width: 1.25rem;
}

.task {
  width: 40rem;
  display: flex;
  align-items: center;
  background-color: #dfd8d8;
  justify-content: center;
  padding: 1rem 1rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
}

.check {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.472);
}

.uncheck {
  text-decoration: none;
}

.instruction {
  color: rgba(0, 0, 0, 0.343);
}
